#areu {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
} 

#imgs {
    margin: auto;
}

h1 
{
    text-align: center;
}

form 
{
    margin: auto;
}

img {
    margin: auto;
}

input, form, #areu {
    border: 2px solid lightgrey;
}

input, button, #areu {
    border-radius: 12px;
}

button {
    border : 2px solid blue;
    background-color: blue;
    color: white;
    margin: auto;
}

#buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

@media screen and (min-width : 1024px) {

    * {
        font-size: 1rem;
    }

    body 
    {
        margin-top: 3%;
    }

    img {
        height: 10rem;
        margin: auto;
    }

    h1 {
        font-size: 3rem;
    }

    form {
        width: 60%;
        height: 60%;
        padding: 5%;
        background-color: aqua;
    }

    button {
        padding: .5%;
        width: 30%;
    }

    input {
        padding: 2%;
        width: 100%;
    }
    
}