.answer 
{
    margin-right: auto;
}

.questionArea 
{
    display: flex;
    flex-direction: column;
    background-color:lightyellow;
    margin: auto;
}

button 
{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: blue;
    color: white;
    border: 3px solid blue;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
}

h1 
{
    text-align: center;
}

.answergroup {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 768px)
{
    button {
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 50%;
        font-size: 20px;
    }

    .answergroup {
        margin-left: 8%;
        margin-top: 1%;
    }

    .answer {
        margin-top: 2%;
    }

    .question {
        font-size: 1.5rem;
        margin-top: 5%;
        margin-left: 5%;
    }

    .first {
        font-size: 1.5rem;
        margin-left: 5%;
        margin-top: 2%;
    }

    .description {
    
        margin-top: 3%;
        font-size: 1.3em;
        margin-left: 8%;

    }

    body {
        background:url('https://i.gifer.com/3jni.gif');
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        margin-top: 5%;
    }

    .questionArea {
        width: 60%;
    }

    label {
        font-size: 1.3rem;
    }
}

@media screen and (min-width:320px) and (max-width:425px) {

    button {
        width: 70%;
        margin-bottom: 10%;
        font-size: 1.2rem;
        margin-top: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .first {
        font-size: 1.2rem;
        margin-top: 1%;
        margin-left: 5%;
    }

    .description {
        margin-left: 10%;
        font-size: 1.1rem;
    }

    h1 {
        font-size: 1.6rem;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .answergroup {
        margin-left: 3%;
    }

    .questionArea {
        width: 100%;
    }

    .question {
        font-size: 1.2rem;
        margin-top: 10%;
        margin-left: 5%;
    }

    .answer {
        margin-left: 8%;
        margin-top: 5%;
        font-size: 1.1rem;
    }
}