#areu {
    display: flex;
    align-items: center;
} 

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-image: url("https://i.pinimg.com/originals/55/40/42/5540423ca8555fa5ac9963bf6acc6426.gif");
}

form {
    background-color: white;
}

body {
    background-size:100%;
}

#imgs {
    margin: auto;
}

h1 
{
    text-align: center;
}

img {
    margin: auto;
}

input, #areu, form {
    border: 2px solid lightgrey;
}

input, button, #areu,form {
    border-radius: 12px;
}

button {
    border : 2px solid blue;
    background-color: blue;
    color: white;
    margin: auto;
    font-weight: bold;
}

#buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

@media screen and (min-width : 1024px) {

    * {
        font-size: 1.2rem;
    }

    #girl 
    {
        height: 6rem;
    }

    #boy {
        height: 7rem;
    }

    h1 {
        font-size: 3rem;
    }

    form {
        width: 30%;
        padding: 3%;
    }

    button {
        padding: 1%;
        width: 30%;
    }

    input {
        padding: 2%;
        width: 100%;
    }   
}

@media screen and (min-width:320px) and (max-width:767px) {

    * {
        font-size: 1rem;
    }

    form {
        padding: 10%;
        margin: 5%;
    }

    input {
        padding: 5%;
        width: 100%;
    }

    #girl {
        padding: 2%;
        width: 30%;
    }

    #boy {
        width: 37%;
    }

    button {
        padding: 3%;
        width: 40%;
    }
    
}