<html>
    <head>
        <title>Propose</title>
    </head>

    <body>

        <h1 style="display: flex;justify-content: center;font-size: 100px;">Are You...?</h1>

        <div style="display: flex;justify-content: space-evenly;">
        
            <a href="love">

                <img width="50%" src="https://img.freepik.com/free-vector/cute-girl-cartoon-character-white-background_1308-115873.jpg?w=740&t=st=1706715197~exp=1706715797~hmac=b86742a18a7bfff5da24182ba6b761db99b7cf2ee48c4bd6e8e14bc70cbde4ff">
            
            </a>
                
            <a  href="https://google.com">

                <img width="100%" src="https://i.pinimg.com/564x/a5/c1/12/a5c112e2c5b87756a588fbd14b2a4ad9.jpg">
            </a>
       
        </div>
    </body>
</html>