<html>
    <head>

        <title>Love Factory</title>
        <link rel="icon" type="image/x-icon" href="\static\favicon.png">
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <link rel="stylesheet" href="static\styles.css">

    </head>

    <body>

        <script src="static\love.js"></script>

        <!-- <h1>Generate Love</h1> -->

        <form id="form">

            <input autocomplete="off" spellcheck="false" id="name" placeholder="Your Name">

            <br>
            <br>

            <input autocomplete="off" spellcheck="false" id="their" placeholder="Their Name">

            <br>
            <br>

            <div id="areu">

                <img onclick="select(this,'girl')" id="girl" src="https://static.vecteezy.com/system/resources/previews/006/820/787/original/cute-girl-clipart-pretty-vector.jpg">
                <img onclick="select(this,'boy')" id="boy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIDYnKR2LpsTi8ivhac6hA4iM6y-ATFqH81L8UyuBcXabKZV3azbWrDJNP3jgqUITPYBc&usqp=CAU">

            </div>

            <br>

            <input autocomplete="off" spellcheck="false" id="song" placeholder="Their Favourite Song">

            <br>
            <br>
            <br>

            <div id="buttons">
                <button type="reset">Reset</button>
                <button type="button" onclick="redirect()">Generate</button>
            </div>

        </form>
    </body>
</html>