<!DOCTYPE html>
<html>
    <head>
        <title>Propose</title>
    </head>

    <body>

        <script>
                var url = "{{url}}".replaceAll("amp;","");
                console.log(url);
                
                "{% if url!=None %}"

                var audio = new Audio(url);

                console.log(url);

                window.onclick = (e) => 
                {
                    audio.play();
                };

                "{% endif %}"

                window.onload = (e) => 
                {
                    alert("Click anywhere");
                }; 

        </script>

        <style>

            table 
            {
                margin-left: 10dp;
                margin-right: 10dp;
            }

            @media screen and (min-width:) {
                
            }

        </style>

        <table id="itable" style="margin: auto;">

            <tr>
                <td> 
                    <img width="100%" src="/static/eyes.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/deities.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/kiss.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/daughter.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/hug.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/how.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/pain.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/look.jpg">
                </td>
            </tr>

        </table>

    </body>
</html>