<!DOCTYPE html>
<html>
    <head>
        <title>Love Factory</title>
        <link rel="icon" type="image/x-icon" href="\static\favicon.png">
        <meta charset="UTF-8">
    </head>

    <body>

        <script src="static/songs.js"></script>

        <script>
            
             window.onload = (e) => 
             {
                "{% if url!=None %}"

                /* var url = decodeURIComponent("{{url}}".replaceAll("&amp;","&"));
                console.log(url);
                play(url); */

                fetch("/get_stream_url")

                .then(response => response.text())

                .then(url=>
                {
                    console.log(url);
                    play(unescape(url));
                })
                .catch(error => {
                    console.log("error",error);
                }); 

                "{% endif %}"

                // alert("Click anywhere to play or pause.");
             };  

        </script>

        <style>

            table 
            {
                margin-left: 10dp;
                margin-right: 10dp;
            }

        </style>

        <table id="itable" style="margin: auto;">

            <tr>
                <td> 
                    <img width="100%" src="/static/eyes.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/deities.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/kiss.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/daughter.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/hug.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/how.jpg">
                </td>
            </tr>
            <tr>
                <td> 
                    <img width="100%" src="/static/pain.jpg">
                </td>

                <td>
                    <img width="100%" src="/static/look.jpg">
                </td>
            </tr>

        </table>

    </body>
</html>