.answer 
{
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: 45px;
}

.questionArea 
{
    display: flex;
    flex-direction: column;
    background-color:lightyellow;
    margin: auto;
    width: 60%;
}

button 
{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
    margin-bottom: 30px;
    background-color: blue;
    color: white;
    margin-top: 30px;
    border: 3px solid blue;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

.description 
{
    font-size: 18px;
    margin-top: 30px;
    margin-left: 35px;
}

@media screen and (min-width : 1024px)
{
    .question {
        font-size: 1.5rem;
        margin-top: 3%;
        margin-left: 5%;
    }

    label {
        font-size: 1.3rem;
    }
}