<!DOCTYPE html>
<html>

    <head>
        <title>Love</title>
    </head>

    <style>
        h1 
        {
            display: flex;
            align-items: center;
            align-content: center;
        }
        .question 
        {
            font-size: 20px;
            margin-top: 30px;
            background-color: white;
            width:fit-content;
        }
        label
        {
            font-size: 20px;
        }
        .answer 
        {
            margin-bottom: 10px;
            background-color: white;
            width:fit-content;
        }
    </style>

    <body background='https://i.gifer.com/3jni.gif'>

        <div>
            <h2>Answer these questions</h2>
        </div>

        <div style="display: flex;flex-direction: column;">

            <div class="question">1. The no. of letters in Happiness?</div>
        
            <div style="display: flex;flex-direction: column;margin-top: 20px;">

                <div class="answer">
                    <input type="radio" name="ans"> 
                    <label>Cute</label>
                </div>

                <div class="answer">
                    <input type="radio" name="ans"> 
                    <label>Cute</label>
                </div>

                <div class="answer">
                    <input type="radio" name="ans">
                    <label>Cute</label>
                </div>

                <div class="answer">
                    <input type="radio" name="ans">
                    <label>Cute</label>
                </div>

            </div>
            
        </div>

    </body>

</html>
