<html>

    <head>

        <title>My Soul</title>
        <link rel="icon" type="image/x-icon" href="\static\favicon.png">
        <meta content="width=device-width,initial-scale=1" name="viewport"/>
        <link rel="stylesheet" href="static\lovestyles.css">

    </head>

    <body>

        <script src="static/songs.js"></script>
        <script>

            const name = "{{frm}}";
            const to = "{{to}}"

            console.log(name);

            function showU(element)
            {
                element.onclick = null;
                setListener('static/tera.mp3',element).play();
                show("lovedes");
            }

            function show(id)
            {
                document.getElementById(id).setAttribute("style","display:block;")
            }

            function hide(element,id)
            {
                element.disabled = true;
                document.getElementById(id).setAttribute("style","color:darkgrey");
            }

            function iloveu(element)
            {
                window.location.href = window.location.origin + "/iloveu";
            }

        </script>

        <div class="questionArea">

            <h1>Answer my questions</h1>

            <div class="first">1. The no. of letters in "Happiness"?</div>
        
            <div id="happy" class="answergroup">

                {%for i in [tlen+2,tlen,tlen+5,tlen+3]%}

                <div class="answer" id={{i}}>
                    <input type="radio" onclick="('{{i}}'==to.replaceAll(' ','').length) ? show('happyExp') : hide(this,'{{i}}')" name="happy"> 
                    <label>{{i}}</label>
                </div>

                {%endfor%}

            </div>

            <p class="description" style="display:none" id="happyExp"><b>Answer</b> : {{tlen}}<br><br><b>Reason</b> : "{{to.title()}}" has {{tlen}} letters.</p>

            <div class="question">2. In which language, Your DNA is Coded?</div>
        
                <div class="answergroup">
                    <div class="answer"  id="Java" style="display: flex; align-content: center;">
                        <input type="radio" name="dna"  style="margin-right: 10px;" onclick="this.disabled = true;"> 
                        <img width="35%" src="https://img.icons8.com/color/144/java-coffee-cup-logo--v1.png">
                    </div>
    
                    <div class="answer" id="Python" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" name="dna" style="margin-right: 10px;" onclick="this.disabled = true;"> 
                        <img width="35%" src="https://img.icons8.com/color/144/python--v1.png">
                    </div>
    
                    <div class="answer" id="C++" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" name="dna" style="margin-right: 10px;" onclick="show('dna')">
                        <img width="35%" src="https://img.icons8.com/color/144/c-plus-plus-logo.png">
                    </div>
    
                    <div class="answer" id="Java Script" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" style="margin-right: 10px;" name="dna" onclick="this.disabled = true;">
                        <img width="35%" src="https://img.icons8.com/color/144/c-programming.png">
                    </div>
    
                </div>

                <p class="description" style="display:none" id="dna"><b>Answer</b> : C++<br><br><b>Reason</b> : You have a pointer in my heart and your scope resolution operator accesses my heart from everywhere.</p>

                <div class="question">3. Are Fairy Tales True?</div>
        
                    <div  class="answergroup">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="tales" onclick="show('tales')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="tales" onclick="show('tales')"> 
                            <label>No</label>
                        </div>
        
                        <div class="answer" id="no idea">
                            <input type="radio" name="tales" onclick="show('tales')">
                            <label>No Idea</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="tales"><b>Answer</b> : Yes<br><br><b>Reason</b> : You.</p>

<pre class="question" style="display: flex;justify-self: flex-start;">
4."A" love "B",
  "B" love "C",
  "C" love "D",
  "D" love "E",
  
  "I" love ?</pre>        
                    <div id="happy" class="answergroup">

                        <div class="answer" id="j">
                            <input type="radio" onclick="hide(this,'j')" name="loveutoo"> 
                            <label>J</label>
                        </div>

                        <div class="answer" id="g">
                            <input type="radio" onclick="hide(this,'g')" name="loveutoo"> 
                            <label>G</label>
                        </div>

                        <div class="answer" id="a">
                            <input type="radio" onclick="hide(this,'a')" name="loveutoo">
                            <label>A</label>
                        </div>

                        <div class="answer" id="u">
                            <input type="radio" id="uoption" onclick="showU(this)" name="loveutoo">
                            <label>U</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="lovedes"><b>Love You Too.</b></p>
                    

                    <div id="lettersq" class="question"></div>
        
                    <script>
                        var uname = to.toUpperCase();

                        var alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                        var missing = "";
            
                        for(var c of uname)
                        {
                            if(alphabets.includes(c))
                            {
                                alphabets = alphabets.replace(c,"");
                                missing += c;
                            }
                            
                            missing = missing.split("").sort().join("").toUpperCase();

                            console.log(alphabets,missing);
                        }

                        var question = "5. " + alphabets + "<br><br>&nbsp;&nbsp;&nbsp; Where is " + missing + "?";
                        console.log("question",question);

                        document.getElementById("lettersq").innerHTML = question;

                    </script>

                    <div class="answergroup">
        
                        <div class="answer" id="dev">
                            <input type="radio" name="abcd" onclick="hide(this,'dev')"> 
                            <label>Developer missed them.</label>
                        </div>
        
                        <div class="answer" id="rules">
                            <input type="radio" name="abcd" onclick="hide(this,'rules')"> 
                            <label>English rules are changed.</label>
                        </div>

                        <div class="answer" id="meet">
                            <input type="radio" name="abcd" onclick="hide(this,'meet')"> 
                            <label>They went to meet their love.</label>
                        </div>
        
                        <div class="answer" id="else">
                            <input type="radio" name="abcd" onclick="show('abcd')">
                            <label>Somewhere Else</label>
                        </div>
                    </div>

                    <p class="description" style="display:none" id="abcd"><b>Answer</b> : Somewhere Else.<br><br><b>Reason</b> : "{{to.upper()}}" is in my Heart.</p>

                    <div class="question">6. Are You a Camera?</div>
        
                    <div class="answergroup">
        
                        <div class="answer">
                            <input type="radio" name="camera" onclick="show('camera')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer">
                            <input type="radio" name="camera" onclick="show('camera')"> 
                            <label>No</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="camera"><b>Answer</b> : Yes<br><br><b>Reason</b> : I smile whenever I see you.</p>

                    <div class="question">7. The no. of letters in "Love"?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="4">
                            <input type="radio" name="lettersluv" onclick="hide(this,4)"> 
                            <label>4</label>
                        </div>
        
                        <div class="answer" id="2">
                            <input type="radio" name="lettersluv" onclick="show('letters')"> 
                            <label>2</label>
                        </div>

                        <div class="answer" id="7">
                            <input type="radio" name="lettersluv" onclick="hide(this,7)"> 
                            <label>7</label>
                        </div>

                        <div class="answer" id="1"> 
                            <input type="radio" name="lettersluv" onclick="hide(this,1)"> 
                            <label>1</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="letters"><b>Answer</b> : 2<br><br><b>Reason</b> : The letters are You and Me.</p>

                    <div class="question">8. What's your name in Physics?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="momentum">
                            <input type="radio" name="physics" onclick="hide(this,'momentum')"> 
                            <label>Momentum</label>
                        </div>
        
                        <div class="answer" id="gravity">
                            <input type="radio" name="physics" onclick="hide(this,'gravity')"> 
                            <label>Gravity</label>
                        </div>

                        <div class="answer" id="lens">
                            <input type="radio" name="physics" onclick="show('physics')"> 
                            <label>Lens</label>
                        </div>

                        <div class="answer" id="quantum"> 
                            <input type="radio" name="physics" onclick="hide(this,'quantum')"> 
                            <label>Quantum Particle</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="physics"><b>Answer</b> : Lens<br><br><b>Reason</b> : I always want to keep You in my Eyes.</p>

                    <div class="question">9. Have you born in Highway?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="highway" onclick="show('highway')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="highway" onclick="show('highway')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="highway"><b>Answer</b> : Yes<br><br><b>Reason</b> : That's where most of the accidents happen.</p>

                <div class="question">10. What is You?</div>
        
                <div class="answergroup">
    
                    <div class="answer" id="artist">
                        <input type="radio" name="you" onclick="hide(this,'artist')"> 
                        <label>Artist</label>
                    </div>
    
                    <div class="answer" id="gardener">
                        <input type="radio" name="you" onclick="hide(this,'gardener')"> 
                        <label>Gardener</label>
                    </div>

                    <div class="answer" id="both">
                        <input type="radio" name="you" onclick="show('ur')"> 
                        <label>Both</label>
                    </div>

                    <div class="answer" id="arent"> 
                        <input type="radio" name="you" onclick="hide(this,'arent')"> 
                        <label>Both aren't</label>
                    </div>

                </div>

                <p class="description" style="display:none" id="ur"><b>Gardener : </b>You plant fragrant flowers in my heart.<br><br><b>Artist : </b>You paint my life and make it colorful.</p>
                
                <div class="question">11. What's your Father's name?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="Practice">
                            <input type="radio" name="father" onclick="show('father')"> 
                            <label>Practice</label>
                        </div>
        
                        <div class="answer" id="God">
                            <input type="radio" name="father" onclick="hide(this,'God')"> 
                            <label>God</label>
                        </div>

                        <div class="answer" id="Brahma">
                            <input type="radio" name="father" onclick="hide(this,'Brahma')"> 
                            <label>Brahma</label>
                        </div>

                        <div class="answer" id="None">
                            <input type="radio" name="father" onclick="hide(this,'None')"> 
                            <label>None</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="father"><b>Answer</b> : Practice<br><br><b>Reason</b> : Practice makes Perfect.</p>

                <div class="question">12. Are you a Coffee?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="coffee" onclick="show('coffee')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="coffee" onclick="show('coffee')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="coffee"><b>Answer</b> : Yes<br><br><b>Reason</b> : I think of you first thing in the morning.</p>

                <div class="question">13. Why should'nt You go out in New Moon Day?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="go">
                            <input type="radio" name="moon" onclick="hide(this,'go')"> 
                            <label>I can go</label>
                        </div>
        
                        <div class="answer" id="holiday">
                            <input type="radio" name="moon" onclick="hide(this,'holiday')"> 
                            <label>It may be a holiday.</label>
                        </div>

                        <div class="answer" id="confusion">
                            <input type="radio" name="moon" onclick="show('moon')"> 
                            <label>It creates confusion</label>
                        </div>

                        <div class="answer" id="notsure"> 
                            <input type="radio" name="moon" onclick="show('moon')"> 
                            <label>Not Sure</label>
                        </div>

                    </div>

                <p class="description" style="display:none" id="moon"><b>Answer</b> : It creates confusion.<br><br><b>Reason</b> : Moon itself is dull in front of you.</p>

                <div class="question">14. What is your nickname?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="Kannamma">
                            <input type="radio" name="namekannamma" onclick="show('nick')"> 
                            <label>Kannamma</label>
                        </div>
        
                        <div class="answer" id="luv">
                            <input type="radio" name="namekannamma" onclick="hide(this,'luv')"> 
                            <label>Love</label>
                        </div>

                        <div class="answer" id="wifeee">
                            <input type="radio" name="namekannamma" onclick="hide(this,'wifeee')"> 
                            <label>Wifeee</label>
                        </div>

                        <div class="answer" id="kulfi"> 
                            <input type="radio" name="namekannamma" onclick="hide(this,'kulfi')"> 
                            <label>Kulfi</label>
                        </div>

                    </div>

                <p class="description" style="display:none" id="nick"><b>Answer</b> : Kannamma<br><br><b>Reason</b> : You're as precious as my Eyes.</p>

                <div class="question">15. Are your parents dealing with drugs?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="drugs" onclick="show('drugs')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="drugs" onclick="show('drugs')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="drugs"><b>Answer</b> : Yes<br><br><b>Reason</b> : I am addicted to You.</p>

                <div class="question">16. How many wonders are there in the world?</div>
        
                    <div class="answergroup">
        
                        <div class="answer" id="12">
                            <input type="radio" name="wonders" onclick="hide(this,12)"> 
                            <label>11 or 12</label>
                        </div>
        
                        <div class="answer" id="9">
                            <input type="radio" name="wonders" onclick="show('wonders')"> 
                            <label>9 or 10</label>
                        </div>

                        <div class="answer" id="6">
                            <input type="radio" name="wonders" onclick="hide(this,6)"> 
                            <label>6</label>
                        </div>

                        <div class="answer" id="10">
                            <input type="radio" name="wonders" onclick="hide(this,10)"> 
                            <label>10</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="wonders"><b>Answer</b> : 9 or 10<br><br><b>Reason</b> : You and our girl children are other wonders.</p>

                <button onclick="iloveu(this)" class="button" type="submit">Submit</button>

            </div>
    </body>

</html>