<html>

    <head>
        <title>ILoveU</title>
    </head>

    <style>
        .question 
        {
            font-size: 1.5rem;
            margin-top: 30px;
            margin-left: 25px;
        }
        label
        {
            font-size: 20px;
        }
        .answer 
        {
            margin-bottom: 10px;
            margin-right: auto;
            margin-left: 45px;
        }
        .questionArea 
        {
            display: flex;
            flex-direction: column;
            background-color:lightyellow;
            margin: auto;
            width: 60%;
        }
        button 
        {
            display: flex;
            justify-content: center;
            margin: auto;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 50%;
            margin-bottom: 30px;
            background-color: blue;
            color: white;
            margin-top: 30px;
            border: 3px solid blue;
            border-radius: 12px;
            font-size: 20px;
            cursor: pointer;
        }
        .description 
        {
            font-size: 18px;
            margin-top: 30px;
            margin-left: 35px;
        }


        @media screen and () {
            
        }

    </style>

    <body background='https://i.gifer.com/3jni.gif'>

        <script>

            const name = "{{frm}}";
            const to = "{{to}}"

            console.log(name);

            function showanswer(para)
            {
                para.setAttribute("style","display:block;")
            }

            function hide(id)
            {
                document.getElementById(id).setAttribute("style","color:darkgrey");
            }

            function happy(element,ans)
            {
                var para = document.getElementById("happyExp");

                console.log(ans,name.length);

                if(ans == to.length)
                {
                    showanswer(para);
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function dna(element,ans)
            {
                var para = document.getElementById("dna");

                if(ans=="C++")
                {
                    showanswer(para);
                }
                else 
                {
                    element.disabled = true;
                }
            }
            
            function tales(element,ans)
            {
                var para = document.getElementById("tales");
                showanswer(para);
            }

            function abcd(element)
            {
                var ans = element.value;
            }

            function love(element,ans)
            {
                var para = document.getElementById("love");
                if(ans=="u")
                {
                    showanswer(para);
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function abcd(element,ans)
            {
                var para = document.getElementById("abcd");

                if(ans == "else")
                {
                    showanswer(para);
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function camera(element,ans)
            {
                var para = document.getElementById("camera");
                showanswer(para);
                console.log("Clicked");
            }

            function letters(element,ans)
            {
                var para = document.getElementById("letters");

                if(ans == 2)
                {
                    showanswer(para);
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function highway(element,ans)
            {
                var par = document.getElementById("highway");
                showanswer(par);
            }

            function father(element,ans)
            {
                var par = document.getElementById("father");

                if(ans=="Practice")
                {
                    showanswer(par);
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function coffee(element,ans)
            {
                showanswer(document.getElementById("coffee"));
            }

            function drugs(element,ans)
            {
                showanswer(document.getElementById("drugs"));
            }

            function wonders(element,ans)
            {
                if(ans==9)
                {
                    showanswer(document.getElementById("wonders"));
                }
                else 
                {
                    element.disabled = true;
                    hide(ans);
                }
            }

            function iloveu(element)
            {
                window.location.href = window.location.origin + "/iloveu";
            }
               
        </script>

        <div class="questionArea">

            <h2 style="display: flex;justify-content: center;">Answer these questions</h2>

            <div class="question">1. The no. of letters in "Happiness"?</div>
        
            <div id="happy" style="margin-top: 20px;">

                {%for i in [tlen+2,tlen,tlen+5,tlen+3]%}

                <div class="answer" id={{i}}>
                    <input type="radio" onclick="happy(this,'{{i}}')" name="ans"> 
                    <label>{{i}}</label>
                </div>

                {%endfor%}

            </div>

            <p class="description" style="display:none" id="happyExp">Answer : {{tlen}}<br><br>Reason : "{{to}}" has {{tlen}} letters.</p>

            <div class="question">2. In which language, Your DNA is Coded?</div>
        
                <div style="display: flex;flex-direction: column;margin-top: 20px;">
    
                    <div class="answer"  id="Java" style="display: flex; align-content: center;">
                        <input type="radio" name="ans"  style="margin-right: 10px;" onclick="dna(this,'Java')"> 
                        <img width="20%" src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg">
                    </div>
    
                    <div class="answer" id="Python" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" name="ans" style="margin-right: 10px;" onclick="dna(this,'Python')"> 
                        <img width="40%" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg">
                    </div>
    
                    <div class="answer" id="C++" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" name="ans" style="margin-right: 10px;" onclick="dna(this,'C++')">
                        <img width="16%" src="https://upload.wikimedia.org/wikipedia/commons/1/18/ISO_C%2B%2B_Logo.svg">
                    </div>
    
                    <div class="answer" id="Java Script" style="display: flex; align-content: center;margin-top: 20px;">
                        <input type="radio" style="margin-right: 10px;" name="ans" onclick="dna(this,'Java Script')">
                        <img width="14%" src="https://logosdownload.com/logo/javascript-logo-512.png">
                    </div>
    
                </div>

                <p class="description" style="display:none" id="dna">Answer : C++<br><br>Reason : You have a pointer in my heart but Other languages doesn't support pointers.</p>

                <div class="question">3. Are Fairy Tales True?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="ans" onclick="tales(this,'yes')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="ans" onclick="tales(this,'no')"> 
                            <label>No</label>
                        </div>
        
                        <div class="answer" id="no idea">
                            <input type="radio" name="ans" onclick="tales(this,'no idea')">
                            <label>No Idea</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="tales">Answer : Yes<br><br>Reason : You.</p>

<pre class="question" style="display: flex;justify-self: flex-start;">
4."A" love "B",
  "B" love "C",
  "C" love "D",
  "D" love "E",
  
  "I" love ?
</pre>        
                    <div id="happy" style="margin-top: 20px;">

                        <div class="answer" id="j">
                            <input type="radio" onclick="love(this,'j')" name="ans"> 
                            <label>J</label>
                        </div>

                        <div class="answer" id="g">
                            <input type="radio" onclick="love(this,'g')" name="ans"> 
                            <label>G</label>
                        </div>

                        <div class="answer" id="a">
                            <input type="radio" onclick="love(this,'a')" name="ans">
                            <label>A</label>
                        </div>

                        <div class="answer" id="u">
                            <input type="radio" onclick="love(this,'u')" name="ans">
                            <label>U</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="love">Love You Too.</p>
                    

                    <div id="lettersq" class="question"></div>
        
                    <script>
                        var uname = to.toUpperCase();

                        var alphabets = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                        var missing = "";
            
                        for(var c of uname)
                        {
                            if(alphabets.includes(c))
                            {
                                alphabets = alphabets.replace(c,"");
                                missing += c;
                            }
                            
                            missing = missing.split("").sort().join("");

                            console.log(alphabets,missing);
                        }

                        var question = "5. " + alphabets + "<br><br>&nbsp;&nbsp;&nbsp; Where is " + missing + "?";
                        console.log("question",question);

                        document.getElementById("lettersq").innerHTML = question;

                    </script>

                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="dev">
                            <input type="radio" name="ans" onclick="abcd(this,'dev')"> 
                            <label>Developer missed them.</label>
                        </div>
        
                        <div class="answer" id="rules">
                            <input type="radio" name="ans" onclick="abcd(this,'rules')"> 
                            <label>English rules are changed.</label>
                        </div>

                        <div class="answer" id="meet">
                            <input type="radio" name="ans" onclick="abcd(this,'meet')"> 
                            <label>They went to meet their love.</label>
                        </div>
        
                        <div class="answer" id="else">
                            <input type="radio" name="ans" onclick="abcd(this,'else')">
                            <label>Somewhere Else</label>
                        </div>
                    </div>

                    <p class="description" style="display:none" id="abcd">Answer : Somewhere Else.<br><br>Reason : {{to}} is in my Heart.</p>

                    <div class="question">6. Are You a Camera?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer">
                            <input type="radio" name="ans" onclick="camera(this,'yes')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer">
                            <input type="radio" name="ans" onclick="camera(this,'no')"> 
                            <label>No</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="camera">Answer : Yes<br><br>Reason : I smile whenever I see you.</p>

                    <div class="question">7. The no. of letters in "Love"?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="4">
                            <input type="radio" name="ans" onclick="letters(this,4)"> 
                            <label>4</label>
                        </div>
        
                        <div class="answer" id="2">
                            <input type="radio" name="ans" onclick="letters(this,2)"> 
                            <label>2</label>
                        </div>

                        <div class="answer" id="7">
                            <input type="radio" name="ans" onclick="letters(this,7)"> 
                            <label>7</label>
                        </div>

                        <div class="answer" id="1"> 
                            <input type="radio" name="ans" onclick="letters(this,1)"> 
                            <label>1</label>
                        </div>

                    </div>

                    <p class="description" style="display:none" id="letters">Answer : 2<br><br>Reason : The letters are You and Me.</p>

                    <div class="question">8. Have you born in Highway?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="ans" onclick="highway(this,'yes')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="ans" onclick="highway(this,'no')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="highway">Answer : Yes<br><br>Reason : That's where most of the accidents happen.</p>

                <div class="question">9. What's your Father's name?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="Practice">
                            <input type="radio" name="ans" onclick="father(this,'Practice')"> 
                            <label>Practice</label>
                        </div>
        
                        <div class="answer" id="God">
                            <input type="radio" name="ans" onclick="father(this,'God')"> 
                            <label>God</label>
                        </div>

                        <div class="answer" id="Brahma">
                            <input type="radio" name="ans" onclick="father(this,'Brahma')"> 
                            <label>Brahma</label>
                        </div>

                        <div class="answer" id="None">
                            <input type="radio" name="ans" onclick="father(this,'None')"> 
                            <label>None</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="father">Answer : Practice<br><br>Reason : Practice makes Perfect.</p>

                <div class="question">10. Are you a Coffee?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="ans" onclick="coffee(this,'yes')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="ans" onclick="coffee(this,'no')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="coffee">Answer : Yes<br><br>Reason : I think of you first thing in the morning.</p>

                <div class="question">11. Are your parents dealing with drugs?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="yes">
                            <input type="radio" name="ans" onclick="drugs(this,'yes')"> 
                            <label>Yes</label>
                        </div>
        
                        <div class="answer" id="no">
                            <input type="radio" name="ans" onclick="drugs(this,'no')"> 
                            <label>No</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="drugs">Answer : Yes<br><br>Reason : I am addicted to You.</p>

                <div class="question">12. How many wonders are in the world?</div>
        
                    <div style="display: flex;flex-direction: column;margin-top: 20px;">
        
                        <div class="answer" id="12">
                            <input type="radio" name="ans" onclick="wonders(this,12)"> 
                            <label>11 or 12</label>
                        </div>
        
                        <div class="answer" id="9">
                            <input type="radio" name="ans" onclick="wonders(this,9)"> 
                            <label>9 or 10</label>
                        </div>

                        <div class="answer" id="6">
                            <input type="radio" name="ans" onclick="wonders(this,6)"> 
                            <label>6</label>
                        </div>

                        <div class="answer" id="10">
                            <input type="radio" name="ans" onclick="wonders(this,10)"> 
                            <label>10</label>
                        </div>
                    </div>

                <p class="description" style="display:none" id="wonders">Answer : 9 or 10<br><br>Reason : You and our girl children are other wonders.</p>

                <button onclick="iloveu(this)" class="button" type="submit">Submit</button>

                </div>
    </body>

</html>